#page {
  width: 96%;
  margin-left: 2%;
  margin-top: 1%;
  background-color:floralwhite;
}

#auth {
  text-align: right;
  padding-right: 1%;
  padding-top: 1%;
}

#auth > * {
  margin-left: 10px;
}

.inline {
  display: inline-block;
}

#content {
  margin-top: 1%;
  margin-left: 5%;
  width: 90%;
}

.header {
  padding: 1%;
  margin-bottom: 2%;
}

#table {
  padding-bottom: 1%;
  margin-left: 2%;
  width: 96%;
}

#createbtn {
  padding-bottom: 2%;
  margin-left: 2%;
}

.menu {
  padding-top: 1%;
  padding-bottom: 2%;
}

.desc {
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}

.settings {
  font-style: italic;
  font-size: small;
}

.formb {
  padding-bottom: 2%;
}
