#page {
  background-color: rgba(255, 250, 240, 0.6);;
}

#auth {
  background-color: #F5DFBB;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.btn-reg {
  border-radius: 9px;
  background: rgba(242, 84, 45, 0.9);
  color: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.btn-log {
  border-radius: 9px;
  border: 2px solid #F2542D;
  color: #F2542D;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.auth-text {
  font-weight: 500;
  font-size: 16px;
}

.logo {
  border-radius: 9px;
  float: left;
  height: 45px;
  width: auto;
}

.inline {
  display: inline-block;
}

#content {
  margin-top: 1%;
  margin-left: 5%;
  width: 90%;
}

.header {
  padding: 1%;
  margin-bottom: 2%;
}

#table {
  padding-bottom: 1%;
  margin-left: 2%;
  width: 96%;
}

#createbtn {
  padding-bottom: 2%;
  margin-left: 2%;
}

.menu {
  padding-top: 1%;
  padding-bottom: 2%;
}

.desc {
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}

.settings {
  font-style: italic;
  font-size: small;
}

.formb {
  padding-bottom: 2%;
}
