<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <title>travelElement</title>
</head>
<body>
    <div id="auth">
        {% if user %}
            <p> Hello, {{ user }} </p>
            <form action="/logout">
                <button class="btn btn-warning" type="submit">Logout</button>
            </form>
        {% else %}
            <form action="/login">
                <button class="btn btn-warning" type="submit">Login</button>
            </form>
            <form action="/register">
                <button class="btn btn-info" type="submit">Register</button>
            </form>
        {% endif %}
    </div>
    <div id="mainbox">
        <h1 class="display-1">travelElement</h1>
        <p>See all of the posts: <a href="{% url 'allposts' %}">link</a></p>
    </div>
</body>
</html>