{% extends 'general/base.html' %} 
{% block title %} Post Details {% endblock %}

{%block content %}
    <h1 class="display-3">{{ post.title }}</h1>
    <div class="settings"><p>--- Created by {{ post.user }} on {{ post.pub_date|date:"l, jS M Y" }} ---</p></div>
    <div class="desc"><p>{{ post.description }}</p></div>
    <div class="menu">
        <span class="inline">
            <form action="{% url 'allposts' %}">
                <button class="btn btn-primary" type="submit"><i class="fas fa-arrow-left"></i> Back</button>
            </form>
        </span>
        <span class="inline">
            <form action="{% url 'update' post.id %}">
                <button class="btn btn-warning" type="submit"><i class="fas fa-edit"></i> Update</button>
            </form>
        </span>
        <span class="inline">
            <form action="{% url 'delete' post.id %}">
                <button class="btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i> Delete</button>
            </form>
        </span>
    </div>
{% endblock %}