{% extends 'general/base.html' %} 
{% block title %} Update Post {% endblock %}
{% load crispy_forms_tags %}

{%block content %}
    <div class="formb">
        <h2 class="formb">Update Post</h2>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Update</button>
        </form>
        <span class="inline">
            <form action="{% url 'details' post.id%}">
                <button class="btn btn-danger" type="submit"><i class="fas fa-times"></i> Cancel</button>
            </form>
        </span>
    </div>
{% endblock %}